html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.image-container {
    display: grid;
    height: 100%;
}

.image-container img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}